*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(211, 211, 247);
}

.cards{
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    display:grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a b c"
        "d e e c";     
}
.card{
    border-radius:10px;
    padding-right:23px; 
    padding-left: 33px;
    padding-top: 22px; 
}

.card:first-child{
    grid-area: a;
    background-color:blueviolet;
    height:340px; 
    margin-top:30%;   
}

.card:nth-child(2){
 
    grid-area: b;
    background-color:gray;
    margin-top:64%;
    height: 333px;
}

.card:nth-child(3){
 
    grid-area: c;
    background-color: whitesmoke;
    height: 700px;
    margin-top:64%;  
}

.card:nth-child(4){
    grid-area: d;
    background-color: whitesmoke;
    height: 297px;  
    margin-bottom:50%;
}

.card:nth-child(5){
    grid-area: e;
    background-color: hsl(240, 1%, 36%);
    height: 297px;  
}

img{
    border-radius: 50%;  
}

h2{
color:white;
margin-top:31px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 22px;
opacity: 0.8;
}

p{
    color:white;
    margin-top:21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    line-height: 19px;
    opacity: 0.6;  
}

.clib{
    color:white;
    margin-top:-51px;
    padding-left:75px;   
}
.writ{
    color:white;
    padding-left:75px;
    opacity:0.5;
}

.gradi{
   
    opacity:0.4;
}

.clib1{
    color:black;
    margin-top:-51px;
    padding-left:75px;    
}

.writ1{
    color:black;
    padding-left:75px;
    opacity:0.5;
}

.text{
    color:black;
    font-size:14px;
    opacity: 0.5;
    
}

h3{
    color:black;
    margin-top:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    opacity: 0.9;
}





